<% if milestone %>
<img id="burndown-chart" src="./burndown.svg?milestone=<%= milestone.name %>" />
<div><%= milestone.name %> <%= milestone.start_time %> <%= milestone.end_time %></div>
<% end %>

<h2>Milestones</h2>
<ol class="list task-list">
<% if !milestones %>
<li>No milestones</li>
<% end %>

<% milestones.each do |milestone| %>
<li>
	<a href="./?milestone=<%= milestone.name %>" class="item"><%= milestone.name %></a>
</li>
<% end %>
</ol>
