<h2>Repo <%= user + '/' + repo %>!</h2>

<h3>Tasks</h3>
<ol class="list task-list">
<% issues.each do |task| %>
<li>
	<a href="<%= task.url %>" class="item">
	<span class="name"><%= task.name %></span>
	<span class="no-css"> - </span>
<% if task.size %>
	<span class="size"><%= task.size %></span>
<% end %>
	<span class="clearfix"></span>
	</a>
</li>
<% end %>
</ol>

<h3>User stories</h3>
<table class="user_stories">
<% user_stories.each do |story| %>
<% story.tasks.each_with_index do |task, index| %>
<tr>
<% if index == 0 %>
	<td class="story" rowspan="<%= story.tasks.length %>"><%= story.name %></td>
<% end %>
	<td><%= task.name %></td>
	<td><%= task.state %></td>
	<td><%= task.owner %></td>
	<td>2</td>
	<td>2</td>
	<td>2</td>
	<td>2</td>
	<td>1</td>
	<td>0</td>
	<td>0</td>
</tr>
<% end %>
<tr>
<% if story.tasks.length == 0 %>
	<td class="story"><%= story.name %></td>
	<td colspan="9" class="no_tasks">No tasks at this user story.</td>
</tr>
<% end %>
<% end %>
<!--
<tr>
	<td>task2</td>
	<td>done</td>
	<td>somebody</td>
	<td>2</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>0</td>
</tr>
-->
</table>

<h3>Burndown chart</h3>
<img src="./burndown.svg" />
