<h2>Repositories of <%= user %></h2>

<!-- should I just turn these into tables -->
<ol class="list user-list">
<% repos.each do | repo | %>
<li>
<a href="/<%= user %>/<%= repo.name %>/" class="item">
<span class="name"><%= repo.name %></span>
<span class="no-css"> - </span>
<span class="desc"><%= repo.description %></span>
</a>
</li>
<% end %>
</ol>
